.button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin-top: 15px;
}

.email,
.linkedin {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  height: fit-content;
  width: 120px;
}

.linkedin {
  background-color: #0072b1;
  color: rgb(255, 255, 255);
}

.email:hover {
  background-color: #0072b1;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.linkedin:hover {
  background-color: #ffffff;
  color: #000000;
  transition: all 0.3s ease-in-out;
}
