.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.297);
  width: 100%;
  max-width: 330px;
}

h1,
p {
  color: white;
  padding: 0 1rem;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-size: x-large;
}

p {
  margin-top: 0;
  font-size: medium;
}

/* test */
